body {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  height: 100vh;
  margin: 0;
  padding: 30px;
  padding-top: 20px;
  background: url("../img/aboutpage_background.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

h1 {
  font-size: 3.5em;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
  text-align: left;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  color: white;
  text-align: left;
  max-width: 50%;
  margin-bottom: 15px;
}

footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 15px;
  background: #b57edc;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
