<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About Me</title>
  </head>
  <body>
    <h1>Sydonae England</h1>
    <p>
      My name is Sydonae England, and I’m from St. Andrew, Jamaica. My love for
      technology began at age 10 when I received a book called Over 1000
      Fantastic Science Facts, sparking my curiosity about inventions. With the
      support of inspiring IT teachers, my passion for the field grew. Beyond
      technology, I enjoy swimming and love passing that on by teaching kids how
      to swim.This past summer, I had the chance to explore different areas of
      technology, and web development stood out to me. It perfectly blends
      creativity and problem-solving, allowing me to design visually appealing,
      functional websites that bring ideas to life.I’m currently pursuing a
      degree in Computer Science at the University of the West Indies, with
      aspirations of becoming a software developer. I'm also passionate about
      UX/UI design and graphic design, where I get to combine creativity and
      technology to design clean, user-friendly interfaces.
    </p>
  </body>
</html>
